.card-container{
    position: relative;
    height: 100%;
    width: 100%;
    perspective: 1000px;
    
}
.card-face{
    height: 100%;
    width: 100%;
    transition: 500ms ease-in-out;
    transform-style: preserve-3d;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    /* border: solid 1px rgb(163, 187, 175); */
}
.card-back{

transform: rotateY(0);
background-image:url("src/assets/images/back3.jpg") ;
background-size: cover;
}
.card-front{
background:radial-gradient(rgba(0, 89, 131, 0.548),rgb(0, 81, 119));
display: flex;
justify-content: center;
align-items: center;
transform: rotateY(180deg);
}
.card-front img{
    width: 50%;
    height: auto;
}
/* .card-container:hover .card-back{
    transform: rotateY(-180deg);
}
.card-container:hover .card-front{
    transform: rotateY(0);
} */
.card-container.visible .card-back{
    transform: rotateY(-180deg);
}
.card-container.visible .card-front{
    transform: rotateY(0);
}


/* .line1{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 150px;
    background-color: black;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    
    }
.line2{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 2px;
        width: 150px;
        background-color: black;
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
} */