h1{
    width: 600px;
    margin: 1rem auto;
    text-align: center;
    font-family: waterway;
    font-size: 5rem;
    line-height:100%;
}
.card{
    
    height: 175px;
    width: 125px;

}
.game-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    width: max-content; /* ou justify-content: center pour pour espacer correctement*/
    margin: 0 auto;
    
}
.game-info-container{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    font-family: roboto;
    font-size: 2rem;
}
.overlay-text{
    font-family: lost at sea;
    line-height: 70%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;
    cursor: pointer;
}
.overlay-text.visible{
    display: flex;
    flex-direction: column;
    animation: grow 500ms forwards;
    
}
.overlay-text>span{
font-size: .5em;
}
@keyframes grow {
    from {
        font-size: 0;
        background-color: rgba(0, 0, 0, 0);
    }
    to{
        font-size: 10rem;
        background-color: rgba(0, 0, 0, 0.5);
    }
}