<h1>Mix-Or-Match</h1>
<div class="game-container">
  <div class="game-info-container">
    <div class="game-info">
      Time <span id="time-remaining">100</span>
    </div>
    <div class="game-info">
      Flips <span id="flips">0</span>
    </div>
  </div>
  <div class="card" *ngFor="let cardValue of cardsValue">
    <app-card [cardValue]="cardValue"></app-card>
  </div>
  <div class="card" *ngFor="let cardValue of cardsValue">
    <app-card [cardValue]="cardValue"></app-card>
  </div>
</div>