<h1>Memory <br> Game</h1>
<div class="overlay-text {{overlayStart}}" (click)='startGame()'>Click to start</div>
<div class="overlay-text {{overlayGameOver}}" id="game-over-text" (click)='startGame()'>Game Over <span> Click to restart</span> </div>
<div class="overlay-text {{overlayVictory}}" id="victory-text" (click)='startGame()'>Victory <span>Click to restart</span></div> 
<div class="game-container">
  <div class="game-info-container">
    <div class="game-info">
      Time <span id="time-remaining">{{timer}}</span>
    </div>
    <div class="game-info">
      Flips <span id="flips">{{flips}}</span>
    </div>
  </div>
  <div class="card" *ngFor="let card of cards">
    <app-card (clickOnCard)="clickOnCard($event)" [card]="card"></app-card>
  </div>
</div>