h1{
    width: max-content;
    margin: 2vh auto;
    margin-bottom: 7vh;
    text-align: center;
    font-family: atlantis; 
    font-size: 5vh;
    line-height:100%;
}

.card{  
    height: 15vh;
    width: 100px;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1vh;
    width: max-content; /* ou justify-content: center pour pour espacer correctement*/
    margin: 0 auto;
}

.game-info-container{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
    font-weight: 300;
}
.overlay-text{
    font-family: lost at sea;
    /* line-height: 150%; */
    font-weight: bold;
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;
    cursor: pointer;
    padding: auto;
}
.overlay-text.visible{
    display: flex; 
    flex-direction: column;
    animation: grow 500ms forwards;
}
.overlay-text>span{
font-size: .7em;
}
@keyframes grow {
    from {
        font-size: 0;
        background-color: rgba(0, 0, 0, 0);
    }
    to{
        font-size: 5rem;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width:560px) {
    .card{
        width: 75px;
    }
}

@media screen and (max-width:350px) {
    .card{
        width: 50px;
    }
}

@media screen and (max-height:700px) {
    .game-info-container{
        font-size: 3.5vh;
    }
}
@media screen and (max-height:520px) {
    .game-info-container{
        font-size: 4vh;
    }
         h1{
        font-size: 8vh;
    }
}
@media screen and (max-height:400px) {
    .game-info-container{
        font-size: 4.5vh;
    }

}
@media screen and (max-height:350px) {
    .game-info-container{
        font-size: 5.5vh;
    }
}
@media screen and (max-height:300px) {
    .game-info-container{
        font-size: 6vh;
    }
}