/* You can add global styles to this file, and also import other style files */
/* html { 
 } */
body{
    margin: 0; 
    background:radial-gradient(rgb(163, 187, 175),rgb(90, 114, 103));
    
    /* background-image:url("assets/images/fond3.jpg") ;
    background-size: cover; */
}
