
@font-face{
    font-family: lost at sea;
    src: url(assets/fonts/lostsea.ttf);
}
@font-face{
    font-family: waterway;
    src: url(assets/fonts/waterway.ttf);
}
@font-face{
    font-family: waterResistant;
    src: url(assets/fonts/waterResistant.ttf);
}
@font-face{
    font-family: roboto;
    src: url(assets/fonts/roboto.ttf);
}
@font-face{
    font-family: fisher;
    src: url(assets/fonts/FishermanBook.ttf);
}
@font-face{
    font-family: atlantis;
    src: url(assets/fonts/atlantis.ttf);
}
 html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
} 
body{
    margin: 0; 
    background:radial-gradient(rgb(163, 187, 175),rgb(90, 114, 103));
    height: 100vh;
    background-image: url(assets/images/4173921.jpg);
    background-size: cover;
    background-position: bottom;
    /* background-image:url("assets/images/fond3.jpg") ;
    background-size: cover; */
}
